container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

.outline {
    border: 1px solid black;
    float: left;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.row {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.col-1-half{
    background: darkblue;
    width: 50%;
}

.col-1-third {
    background: rebeccapurple;
    width: 33.33%;
}

.col-1-fourth {
    background: grey;
    width: 25%;
}

.col-1-sixth {
    background: cornflowerblue;
    width: 16.6%;
}

.col-1-eighth {
    background: mediumvioletred;
    width: 12.5%;
}

