
/** {
    margin: 0;
    padding: 0;
}*/

    .header-img img{
        width: 100%;
        max-width: available;
        }

    .alert-info {
        display: block;
        background: aqua;
        border: solid lightgrey;
        text-decoration: none;
        height: 100px;
        width: auto;
        margin: 20px;
        font-size-adjust: auto;
        text-align: center;
        -moz-text-size-adjust: auto;
    }

    .alert-info>a {
        color: #000;
        text-decoration: none;
    }

    p {
        padding-bottom: 40px;
    }

    ul {
        list-style-type: none;
        line-height: 500%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    li a {
        -moz-text-size-adjust: auto;
        display: block;
        background-color: lightgrey;
        text-decoration: none;
        position: relative;
        margin: 25px;
    }

    li a:hover {
        background-color: white;
        color: black;
    }

    h1 {
        margin-bottom: 15px;
        display: block;
        text-align: center;
        padding-bottom: 40px;
    }

    .sub-section {
        font-style: italic;
    }

    footer {

    }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {


}


