
* {
    margin: 0;
    padding: 0;
    }

    .header-img img{
        width: 100%;
        max-width: available;
        }

    .alert-info {
        display: block;
        background: aqua;
        border: solid lightgrey;
        text-decoration: none;
        height: 100px;
        width: auto;
        margin: 20px;
        text-align: center;
        font-size: 100%;
    }


    .alert-info>a {
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 2em;
    }

    p {
        padding-bottom: 40px;
    }

    ul {
        list-style-type: none;
        line-height: 500%;
        text-align: center;
        margin: 0;
        padding: 0;

    }

    li a {
        display: block;
        background-color: lightgrey;
        text-decoration: none;
        position: relative;
        margin: 25px;
        font-size: 2em;
    }

    li a:hover {
        background-color: white;
        color: black;

    }

    h1 {
        margin-bottom: 15px;
        display: block;
        text-align: center;
        padding-bottom: 40px;
        font-size: 4em;
    }

    .sub-section {
        font-style: italic;
    }

    footer {

    }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    h1 {
        float: left;
    }

    .icons {
        width: 40px;
        height: 40px;
        padding: 0 5em;
    }

    .nav-links {
        text-align: right;
        float: right;
    }

    .nav-links li {
        background-color: transparent;
        display: inline-block;
        padding: .2em;
        float: left;
    }

    .alert-info {
        color: white;
        background: transparent;
        border: none;
    }

    li a {
        background-color: transparent;
    }

    .alert-info>a {
        color: #fff;
    }

    .header-img img{
        position: relative;
    }

    .main {
        float: left;
    }

    .sub-section {
        float: left;
    }

    footer {
        clear: both;
    }

}


