.box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 20px;
    font-weight: bold;
    color: white;
    margin: 10px 40px 10px 10px;
    position: relative;
    float: left;
}

.box:nth-child(5) {
    clear: left;
}

h1 {
    color: purple;
    text-decoration: underline;
    margin-bottom: 50px;
}

#red{
    background: red;
}

#orange{
    background: orange;
}

#yellow{
    background: yellow;
}

#green{
    background: green;
}

#blue{
    background: blue;
}

#deepink{
    background: deeppink;
}

.arrow {
    position: absolute;
    top: -40px;
    right: -40px;
}
