/*
* This is still the Veridian Dynamics stylesheet
*/

h3 {
    color: #00008b;
    text-decoration: underline;
}

ul {
    list-style: lower-greek;
}

table, td, tr, th {
    border: 1px darkblue solid;
    font-size: medium;
    padding: 1em;
}


body {
    margin: 10em;
    background: azure;
    background-image: url(Backgrounds/intersection/intersection.png);
    font-family: Georgia, sans-serif;
}

.fancy-header {
    color: black;
    text-decoration: underline;
    text-align: center;
}

a:linked {
    color: #purple;
}

a:hover {
    color: darkblue;
}

a:visited {
    color: green;
}



